h1.product_name{
    margin-left: 630px;
    color: white;
    text-shadow: -1px -1px 0 #000,
			1px -1px 0 #000,
			-1px 1px 0 #000,
			1px 1px 0 #000;
    font-size: 30px;
}
img.product_image{
    width: 600px;
    border-radius: 20px;
    float: left;
    margin-left: 5px;
    margin-top: -63px;
}
div.product_info{
    margin-left: 630px;
    color: white;
    text-shadow: -1px -1px 0 #000,
			1px -1px 0 #000,
			-1px 1px 0 #000,
			1px 1px 0 #000;
    font-size: 30px;
}
div.product_description{
    margin-top: 350px;
    margin-left: 10px;
    color: white;
    text-shadow: -1px -1px 0 #000,
			1px -1px 0 #000,
			-1px 1px 0 #000,
			1px 1px 0 #000;
    font-size: 25px;
}